# Server Configuration
HOST=localhost
PORT=3000

# Ver.iD Authentication Configuration
VERID_AUTHENTICATION_API_URL=https://oauth.ssi.ver.id
VERID_AUTHENTICATION_FLOW_ID=<YOUR_AUTHENTICATION_FLOW_ID>
VERID_AUTHENTICATION_REDIRECT_URI=http://localhost:3000/api/authentication/callback

# Ver.iD Disclosure Configuration
VERID_DISCLOSURE_API_URL=https://oauth.ssi.ver.id
VERID_DISCLOSURE_FLOW_ID=<YOUR_DISCLOSURE_FLOW_ID>
VERID_DISCLOSURE_REDIRECT_URI=http://localhost:3000/api/disclosure/callback

# Ver.iD Issuance Configuration
VERID_ISSUANCE_API_URL=https://oauth.ssi.ver.id
VERID_ISSUANCE_FLOW_ID=<YOUR_ISSUANCE_FLOW_ID>
VERID_ISSUANCE_REDIRECT_URI=http://localhost:3000/api/issuance/callback

VERID_CLIENT_SECRET=<YOUR_CLIENT_SECRET>
